body {
  margin: 0;
  font-family: Arial;
  background: #f3f4f6;
}

/* TOPO */
.topbar {
  display: flex;
  align-items: center;
  background: #1e3a8a;
  color: white;
  padding: 10px 20px;
}

.logo {
  width: 45px;
  margin-right: 10px;
}

/* MENU */
.sidebar {
  position: fixed;
  width: 200px;
  height: 100vh;
  background: #2563eb;
  padding: 10px;
}

.sidebar button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: none;
  background: #1e3a8a;
  color: white;
  cursor: pointer;
}

.sidebar button:hover {
  background: #facc15;
  color: black;
}

/* CONTEÚDO */
.content {
  margin-left: 220px;
  padding: 20px;
}

.secao {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

button {
  margin-top: 5px;
  padding: 8px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

li {
  background: #facc15;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}
.topbar {
  display: flex;
  align-items: center;
  background: #1e3a8a;
  padding: 12px;
  justify-content: center;
}

.logo-only {
  height: 45px;   /* mesmo “tamanho visual” do título */
  width: auto;
  object-fit: contain;
}
